fastapi
uvicorn
pandas
pillow
scikit-learn
pytesseract
mysql-connector-python
python-multipart
pydantic
numpy
paddleocr
pdfplumber
python-dotenv
joblib
pdf2image
google-generativeai
opencv-python-headless==4.10.0.84
poppler-utils
google-generativeai>=0.8.0