fastapi
uvicorn
pandas
pillow
scikit-learn
pytesseract
mysql-connector-python
python-multipart
pydantic
pandas
numpy
scikit-learn
pillow
paddleocr
pdfplumber
python-multipart
mysql-connector-python
python-dotenv
joblib
